<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.copyright.mapper.AppLinkmanMapper">
    
    <resultMap type="AppLinkman" id="AppLinkmanResult">
        <result property="linkmanId"    column="linkman_id"    />
        <result property="clientName"    column="client_name"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="certificateType"    column="certificate_type"    />
        <result property="certificateCode"    column="certificate_code"    />
        <result property="alias"    column="alias"    />
        <result property="dept"    column="dept"    />
        <result property="post"    column="post"    />
        <result property="phone"    column="phone"    />
        <result property="dingding"    column="dingding"    />
        <result property="workPhone"    column="work_phone"    />
        <result property="fax"    column="fax"    />
        <result property="email"    column="email"    />
        <result property="wechat"    column="wechat"    />
        <result property="QQ"    column="QQ"    />
        <result property="aliwangwang"    column="aliwangwang"    />
        <result property="postcode"    column="postcode"    />
        <result property="address"    column="address"    />
        <result property="remark"    column="remark"    />
        <result property="creationTime"    column="creation_time"    />
        <result property="birthday"    column="birthday"    />
    </resultMap>
	
	<!-- <resultMap type="AppClient" id="clientResult">
        <id property="clientId"    column="client_id"    />
        <result property="type"    column="type"    />
        <result property="clientName"    column="client_name"    />
        <result property="name"    column="name"    />
        <result property="region"    column="region"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="site"    column="site"    />
        <result property="clientKind"    column="client_kind"    />
        <result property="phone"    column="phone"    />
        <result property="wordPhone"    column="word_phone"    />
        <result property="remark"    column="remark"    />
        <result property="code"    column="code"    />
    </resultMap> -->
	
	<sql id="selectAppLinkmanVo">
        select linkman_id, client_name, name, sex, certificate_type, certificate_code, alias, dept, post, phone, dingding, work_phone, fax, email, wechat, QQ, aliwangwang, postcode, address, remark, creation_time, birthday from app_linkman
    </sql>
    
    
	<select id="selectAppLinkmanList" parameterType="AppLinkman" resultMap="AppLinkmanResult">
       <include refid="selectAppLinkmanVo"/>
        <where>  
            <if test="linkmanId != null "> and linkman_id = #{linkmanId}</if>
             <if test="clientName != null "> and client_name = #{clientName}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="sex != null  and sex != '' "> and sex = #{sex}</if>
             <if test="certificateType != null  and certificateType != '' "> and certificate_type = #{certificateType}</if>
             <if test="certificateCode != null  and certificateCode != '' "> and certificate_code = #{certificateCode}</if>
             <if test="alias != null  and alias != '' "> and alias = #{alias}</if>
             <if test="dept != null  and dept != '' "> and dept = #{dept}</if>
             <if test="post != null  and post != '' "> and post = #{post}</if>
             <if test="phone != null  and phone != '' "> and phone = #{phone}</if>
             <if test="dingding != null  and dingding != '' "> and dingding = #{dingding}</if>
             <if test="workPhone != null  and workPhone != '' "> and work_phone = #{workPhone}</if>
             <if test="fax != null  and fax != '' "> and fax = #{fax}</if>
             <if test="email != null  and email != '' "> and email = #{email}</if>
             <if test="wechat != null  and wechat != '' "> and wechat = #{wechat}</if>
             <if test="QQ != null  and QQ != '' "> and QQ = #{QQ}</if>
             <if test="aliwangwang != null  and aliwangwang != '' "> and aliwangwang = #{aliwangwang}</if>
             <if test="postcode != null  and postcode != '' "> and postcode = #{postcode}</if>
             <if test="address != null  and address != '' "> and address = #{address}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="creationTime != null "> and creation_time = #{creationTime}</if>
             <if test="birthday != null "> and birthday = #{birthday}</if>
         </where>
    </select>
    
    <!-- <select id="selectAppLinkmanListReClient" parameterType="AppLinkman" resultMap="AppLinkmanResult">
       	SELECT app_linkman.*, app_client.*
		FROM
		app_client
		INNER JOIN app_linkman ON app_linkman.client_id = app_client.client_id
        <where>  
            <if test="linkmanId != null "> and linkman_id = #{linkmanId}</if>
             <if test="clientId != null "> and client_id = #{clientId}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="sex != null  and sex != '' "> and sex = #{sex}</if>
             <if test="certificateType != null  and certificateType != '' "> and certificate_type = #{certificateType}</if>
             <if test="certificateCode != null  and certificateCode != '' "> and certificate_code = #{certificateCode}</if>
             <if test="alias != null  and alias != '' "> and alias = #{alias}</if>
             <if test="dept != null  and dept != '' "> and dept = #{dept}</if>
             <if test="post != null  and post != '' "> and post = #{post}</if>
             <if test="phone != null  and phone != '' "> and phone = #{phone}</if>
             <if test="dingding != null  and dingding != '' "> and dingding = #{dingding}</if>
             <if test="workPhone != null  and workPhone != '' "> and work_phone = #{workPhone}</if>
             <if test="fax != null  and fax != '' "> and fax = #{fax}</if>
             <if test="email != null  and email != '' "> and email = #{email}</if>
             <if test="wechat != null  and wechat != '' "> and wechat = #{wechat}</if>
             <if test="QQ != null  and QQ != '' "> and QQ = #{QQ}</if>
             <if test="aliwangwang != null  and aliwangwang != '' "> and aliwangwang = #{aliwangwang}</if>
             <if test="postcode != null  and postcode != '' "> and postcode = #{postcode}</if>
             <if test="address != null  and address != '' "> and address = #{address}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="creationTime != null "> and creation_time = #{creationTime}</if>
             <if test="birthday != null "> and birthday = #{birthday}</if>
         </where>
    </select> -->
    
    <select id="selectAppLinkmanById" parameterType="Integer" resultMap="AppLinkmanResult">
        <include refid="selectAppLinkmanVo"/>
        where linkman_id = #{linkmanId}
    </select>
    
    <!-- <select id="selectAppLinkmanByIdReClient" parameterType="Integer" resultMap="AppLinkmanResult">
       	SELECT app_linkman.*, app_client.*
		FROM
		app_client
		INNER JOIN app_linkman ON app_linkman.client_id = app_client.client_id
        where linkman_id = #{linkmanId}
    </select> -->
        
        
    <insert id="insertAppLinkman" parameterType="AppLinkman" useGeneratedKeys="true" keyProperty="linkmanId">
        insert into app_linkman
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="clientName != null  and clientName != ''  ">client_name,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="sex != null  and sex != ''  ">sex,</if>
			<if test="certificateType != null  and certificateType != ''  ">certificate_type,</if>
			<if test="certificateCode != null  and certificateCode != ''  ">certificate_code,</if>
			<if test="alias != null  and alias != ''  ">alias,</if>
			<if test="dept != null  and dept != ''  ">dept,</if>
			<if test="post != null  and post != ''  ">post,</if>
			<if test="phone != null  and phone != ''  ">phone,</if>
			<if test="dingding != null  and dingding != ''  ">dingding,</if>
			<if test="workPhone != null  and workPhone != ''  ">work_phone,</if>
			<if test="fax != null  and fax != ''  ">fax,</if>
			<if test="email != null  and email != ''  ">email,</if>
			<if test="wechat != null  and wechat != ''  ">wechat,</if>
			<if test="QQ != null  and QQ != ''  ">QQ,</if>
			<if test="aliwangwang != null  and aliwangwang != ''  ">aliwangwang,</if>
			<if test="postcode !=       null  and postcode != ''  ">postcode,</if>
			<if test="address != null  and address != ''  ">address,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>	
			<if test="creationTime != null  ">creation_time,</if>	
			<if test="birthday != null  ">birthday,</if>				
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
       		<if test="clientName != null  and clientName != ''  ">#{clientName},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="sex != null  and sex != ''  ">#{sex},</if>
			<if test="certificateType != null  and certificateType != ''  ">#{certificateType},</if>
			<if test="certificateCode != null  and certificateCode != ''  ">#{certificateCode},</if>
			<if test="alias != null  and alias != ''  ">#{alias},</if>
			<if test="dept != null  and dept != ''  ">#{dept},</if>
			<if test="post != null  and post != ''  ">#{post},</if>
			<if test="phone != null  and phone != ''  ">#{phone},</if>
			<if test="dingding != null  and dingding != ''  ">#{dingding},</if>
			<if test="workPhone != null  and workPhone != ''  ">#{workPhone},</if>
			<if test="fax != null  and fax != ''  ">#{fax},</if>
			<if test="email != null  and email != ''  ">#{email},</if>
			<if test="wechat != null  and wechat != ''  ">#{wechat},</if>
			<if test="QQ != null  and QQ != ''  ">#{QQ},</if>
			<if test="aliwangwang != null  and aliwangwang != ''  ">#{aliwangwang},</if>
			<if test="postcode != null  and postcode != ''  ">#{postcode},</if>
			<if test="address != null  and address != ''  ">#{address},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="creationTime != null  ">#{creationTime},</if>			
			<if test="birthday != null  ">#{birthday},</if>
         </trim>
    </insert>
	 
	 
	 
    <update id="updateAppLinkman" parameterType="AppLinkman">
        update app_linkman
        <trim prefix="SET" suffixOverrides=",">
            <if test="clientName != null  and clientName != ''  ">client_name = #{clientName},</if>
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="sex != null  and sex != ''  ">sex = #{sex},</if>
            <if test="certificateType != null  and certificateType != ''  ">certificate_type = #{certificateType},</if>
            <if test="certificateCode != null  and certificateCode != ''  ">certificate_code = #{certificateCode},</if>
            <if test="alias != null  and alias != ''  ">alias = #{alias},</if>
            <if test="dept != null  and dept != ''  ">dept = #{dept},</if>
            <if test="post != null  and post != ''  ">post = #{post},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="dingding != null  and dingding != ''  ">dingding = #{dingding},</if>
            <if test="workPhone != null  and workPhone != ''  ">work_phone = #{workPhone},</if>
            <if test="fax != null  and fax != ''  ">fax = #{fax},</if>
            <if test="email != null  and email != ''  ">email = #{email},</if>
            <if test="wechat != null  and wechat != ''  ">wechat = #{wechat},</if>
            <if test="QQ != null  and QQ != ''  ">QQ = #{QQ},</if>
            <if test="aliwangwang != null  and aliwangwang != ''  ">aliwangwang = #{aliwangwang},</if>
            <if test="postcode != null  and postcode != ''  ">postcode = #{postcode},</if>
            <if test="address != null  and address != ''  ">address = #{address},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="creationTime != null  ">creation_time = #{creationTime},</if>
            <if test="birthday != null  ">birthday = #{birthday},</if>
        </trim>
        where linkman_id = #{linkmanId}
    </update>

	<delete id="deleteAppLinkmanById" parameterType="Integer">
        delete from app_linkman where linkman_id = #{linkmanId}
    </delete>
	
    <delete id="deleteAppLinkmanByIds" parameterType="String">
        delete from app_linkman where linkman_id in 
        <foreach item="linkmanId" collection="array" open="(" separator="," close=")">
            #{linkmanId}
        </foreach>
    </delete>
    
</mapper>